:global(.logo) {
  height: 32px;
  /*background: #333;*/
  border-radius: 6px;
  margin: 16px;
  overflow: hidden;
  background: url('/images/LOGO.png') no-repeat left;
  background-size: cover;
}
:global(.ant-layout) {
	height: 100vh;
}

:global(.ant-layout-sider-collapsed .anticon) {
  font-size: 16px;
  margin-left: 8px;
}

:global(.ant-layout-sider-collapsed .nav-text) {
  display: none;
}

:global(.ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after) {
  display: none;
}